@import "./fonts.css";
@import "./tailwind.css";
@import "./theme.css";

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 18s linear infinite;
  white-space: nowrap;
}
